<% layout('layouts/boilerplate.ejs') -%>
<link rel="stylesheet" href="/css/star.css">
<div class="row">
    <div class="col-6">
      <form
        action="/college/<%=id%>/review/<%=review_id%>/update?_method=patch"
        method="post"  class="needs-validation" novalidate
      >
      <div class="card">
          <div class="card-body"> 
        <div class="mb-3">
          <fieldset class="starability-basic">
            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
        </div>
  
        <div class="mb-3">
          <label class="form-label" for="body">Review</label>
            <textarea
              type="text"
              class="form-control"
              id="body"
              name="review[body]"
              required
            ><%=reviewRecord.body%></textarea> 
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please fill  a review.</div>
        </div>
  
  
        <div class="mb-3">
          <button class="btn btn-info">Update</button>
          </div>
          </div>
          </div>
      </form>
  
        <a href="/college/<%=id%>">
          Back To College</a
        >
      </div>
    </div>
  </div>
  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
      "use strict";
      window.addEventListener(
        "load",
        function () {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName("needs-validation");
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function (form) {
            form.addEventListener(
              "submit",
              function (event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add("was-validated");
              },
              false
            );
          });
        },
        false
      );
    })();
  </script>