<% layout('layouts/boilerplate.ejs') -%>
<div class="row">
  <h1 class="text-center">New College</h1>
  <div class="col-6 offset-1">
    <form
      action="/college/new"
      method="post"
      class="needs-validation"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="college">College</label>
        <input
          type="text"
          class="form-control"
          id="college"
          name="student[college]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please choose a college.</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          type="text"
          class="form-control"
          id="location"
          name="student[location]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please choose a location.</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          type="text"
          class="form-control"
          id="description"
          name="student[description]"
          rows="3"
          cols="30"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please choose a description.</div>
      </div>
      <div class="mb-3">
        <div class="custom-file">
          <input
            type="file"
            class="custom-file-input"
            id="image"
            aria-describedby="inputGroupFileAddon01"
            name="image"
            multiple
            required
          />
          <label class="custom-file-label" for="image">Choose Image's</label>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please Upload the Image</div>
        </div>
      </div>

      <div class="mb-3">
        <button class="btn btn-success">Add College</button>
      </div>
    </form>
    <div class="mb-3">
      <a href="/college"> All College's</a>
    </div>
  </div>
</div>
